

<mat-sidenav-container fullscreen class="example-container" (backdropClick)="closeSettings ()">
  <mat-sidenav #sidenav (keydown.escape)="closeSettings ()" disableClose style="width: 300px;">
    <img src="../assets/dragon.jpg" alt="dragons" style="width: 100%;">
    <div>

      <form *ngIf="optForm" [formGroup]="optForm">
        <h3 style="padding-left:16px">Players
          <button mat-mini-fab color="basic" (click)="addPlayer ()">
            <mat-icon>add</mat-icon>
          </button>
        </h3>
        <div formArrayName="players">
          <mat-form-field *ngFor="let player of optForm.controls.players.controls; let i = index;">
            <input matInput [placeholder]="'Player ' + (i + 1)" [formControlName]="i">
            <button mat-button matSuffix mat-icon-button (click)="removePlayer (i)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <h3 style="padding-left:16px">Settings</h3>
        <mat-form-field>
          <input type="number" matInput placeholder="Scales per crown" formControlName="scalesPerCrown">
        </mat-form-field>
      </form>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button style="margin-right: 16px" (click)="openSettings ()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Talisman - Dragon scales</span>
    </mat-toolbar>

    <div style="display: flex; flex-direction: row">
      <mat-list style="padding: 0; padding-right: 10px; flex-grow: 1">
        <dragon *ngFor="let dragonId of ['varthrax', 'cadorus', 'grilipus']" [dragonId]="dragonId"></dragon>
      </mat-list>

      <mat-card style="flex-grow: 1">
        <mat-card-header>
          <mat-card-title>Log</mat-card-title>
        </mat-card-header>
        <mat-list dense>
          <mat-list-item *ngFor="let log of logs$ | async" style="height: 40px">
            <img matListAvatar [src]="log.tokenSource" alt="token">
            <h3 matLine>{{log.message}}</h3>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pool</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="pool$ | async as pool" ><!--style="display: inline-flex;"-->
        <mat-grid-list cols="3" rowHeight="70px">
          <mat-grid-tile>
            <img height="50" src="../assets/varthrax-token.png" alt="varthrax"><p>&nbsp;{{pool.scales.varthrax}}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <img height="50" src="../assets/strike-token.png" alt="strike"><p>&nbsp;{{pool.strikes}}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <img height="50" src="../assets/cadorus-token.png" alt="cadorus"><p>&nbsp;{{pool.scales.cadorus}}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <img height="50" src="../assets/rage-token.png" alt="rage"><p>&nbsp;{{pool.rages}}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <img height="50" src="../assets/grilipus-token.png" alt="grilipus"><p>&nbsp;{{pool.scales.grilipus}}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <img height="50" src="../assets/slumber-token.png" alt="slumber"><p>&nbsp;{{pool.slumbers}}</p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="basic" (click)="drawToken ()">Draw</button>
      </mat-card-actions>
    </mat-card>
    
    <button color="primary" mat-fab style="position: fixed; bottom: 25px; right: 25px;" (click)="newRound ()" title="New round">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
